
<html>
<head>
	<meta charset='utf-8'/>
	<title>Refugees in Lesbos</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!--mobile-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script>
	<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
</head>

<body>


<div class="container">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a href="#started" id="shelter_map_trigger" data-toggle="collapse" data-parent ="accordion"><%= image_tag "house.png", class: "displayed" %></a>
					</h4>
				</div>
				<div id="shelter_map" style='height: 400px;'></div>
				<div id="started" class="panel-collapse collapse">
					<div class="panel-body">
						<%= render partial: 'table_partial.html.erb', locals: { resources: @resources.select { |resource| resource.category == "Shelter" } } %>

					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a href="#materials" id="foodwater_map_trigger" data-toggle="collapse" data-parent ="accordion"><%= image_tag "foodwater.png", class: "displayed" %></a>
					</h4>
				</div>
				<div id="foodwater_map" style='height: 400px;'></div>
				<div id="materials" class="panel-collapse collapse">
					<div class="panel-body">
						<%= render partial: 'table_partial.html.erb', locals: { resources: @resources.select { |resource| resource.category == "food_and_water" } } %>

					</div>
				</div>


			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a href="#collect" id="medical_map_trigger" data-toggle="collapse" data-parent ="accordion"><%= image_tag "med.png", class: "displayed" %></a>
					</h4>
				</div>
				<div id="medical_map" style='height: 400px;'></div>

				<div id="collect" class="panel-collapse collapse">
					<div class="panel-body">
						<%= render partial: 'table_partial.html.erb', locals: { resources: @resources.select { |resource| resource.category == "medical" } } %>

					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a href="#grow" id="transport_map_trigger" data-toggle="collapse" data-parent ="accordion"><%= image_tag "bus.png", class: "displayed" %></a>
					</h4>
				</div>
				<div id="grow" class="panel-collapse collapse">

					<div class="panel-body">
						<div id="map" style='height: 400px;'></div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#shelter_map").hide();
		$("#foodwater_map").hide();
		$("#medical_map").hide();
	})
	$("#shelter_map_trigger").click(function(){
		$("#shelter_map").toggle();
		var resources = <%= raw @resources.select { |resource| resource.category == "Shelter" && (!resource.lat.nil? && !resource.lng.nil?)}.to_json%>;
		shelterMapShow(resources);
	});
	$("#foodwater_map_trigger").click(function(){
		$("#foodwater_map").toggle();
	var resources = <%= raw @resources.select { |resource| resource.category == "food_and_water" && (!resource.lat.nil? && !resource.lng.nil?)}.to_json%>;
		foodwaterMapShow(resources);
	});
	$("#medical_map_trigger").click(function(){
		$("#medical_map").toggle();
		var resources = <%= raw @resources.select { |resource| resource.category == "medical" && (!resource.lat.nil? && !resource.lng.nil?)}.to_json%>;
		medicalMapShow(resources);
	});
</script>

</body>



</html>
