<!DOCTYPE html>

<html>
<head>
	<meta charset='utf-8'/>
	<title>Refugees in Lesbos</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<!--mobile-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places,map,marker"></script>
	<script type="text/javascript" src="bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javacsript" src="displaymap.js"></script>
	<link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="index.css" type="text/css" rel="stylesheet"/>
	<link href="map.css" type="text/css" rel="stylesheet"/>
</head>

<body>
<div class = "container">

		<div class = "panel-group" id="accordion">

			<div class = "panel panel-default">
				<div class = "panel-heading">
					<h4 class="panel-title">
						<a href = "#started" data-toggle="collapse" data-parent ="accordion"><%= image_tag "house.png", class: "displayed" %></a>
					</h4>
				</div>
				<div id = "started" class = "panel-collapse collapse">
					<div class = "panel-body">
						<div onload = "init()">
							<div id="map"></div>
						</div>
						<% @resources.each do |resource| %>
						<ul>
							<% if resource.category == "Shelter" %>
							<li>	<%= resource.name %> | <%= resource.location  %></li>
							<% end %>
						</ul>
						<% end %>
					</div>
				</div>
			</div>
			<div class = "panel panel-default">
				<div class = "panel-heading">
					<h4 class = "panel-title">
						<a href = "#materials" data-toggle="collapse" data-parent ="accordion"><%= image_tag "foodwater.png", class: "displayed" %></a>
					</h4>
				</div>
				<div id="materials" class = "panel-collapse collapse">
					<div class = "panel-body">
						<% @resources.each do |resource| %>
						<ul>
							<% if resource.category == "food_and_water" %>
							<li>	<%= resource.name %> | <%= resource.location  %></li>
							<% end %>
						</ul>
						<% end %>
					</div>
				</div>


			</div>
			<div class = "panel panel-default">
				<div class = "panel-heading">
					<h4 class="panel-title">
						<a href = "#collect" data-toggle="collapse" data-parent ="accordion"><%= image_tag "med.png", class: "displayed" %></a>
					</h4>
				</div>
				<div id = "collect" class = "panel-collapse collapse">
					<div class = "panel-body">
						<% @resources.each do |resource| %>
						<ul>
							<% if resource.category == "medical" %>
							<li>	<%= resource.name %> | <%= resource.location  %></li>
							<% end %>
						</ul>
						<% end %>
					</div>
				</div>
			</div>
			<div class = "panel panel-default">
				<div class = "panel-heading">
					<h4 class="panel-title">
						<a href = "#grow" data-toggle="collapse" data-parent ="accordion"><%= image_tag "bus.png", class: "displayed" %></a>
					</h4>
				</div>
				<div id = "grow" class = "panel-collapse collapse">

					<div class = "panel-body">
						<% @resources.each do |resource| %>
						<ul>
							<% if resource.category == "medical" %>
							<li>	<%= resource.name %> | <%= resource.location  %></li>
							<% end %>
						</ul>
						<% end %>
					</div>
				</div>
			</div>

		</div>
	</div>


</body>



</html>
