
<html>
<head>
	<meta charset='utf-8'/>
	<title>Refugees in Lesbos</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!--mobile-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script>
	<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
</head>

<body>



<div class="container">

		<div class="panel-group" id="accordion">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a href="#started" class="map_trigger" data-toggle="collapse" data-parent ="accordion"><%= image_tag "house.png", class: "displayed" %></a>
					</h4>
				</div>
				<div id="started" class="panel-collapse collapse">

					<div class="panel-body">
						<div id="map" style='height: 400px;'></div>
						<table class="table table-inverse">
						  <thead>
						    <tr>
						      <th>Name</th>
						      <th>Location</th>
						      <th>Lat</th>
						      <th>Lng</th>
						      <th>Website</th>
						      <th>Phone</th>
						      <th>Proof Required</th>
						    </tr>
						  </thead>
						  <% @resources.each do |resource| %>
						  <tbody>
						  	<% if resource.category == "Shelter" %>
						    <tr>
						      <td><%= resource.name  %></td>
						      <td><%= resource.location  %></td>
						      <td><%= resource.lat  %></td>
						      <td><%= resource.lng  %></td>
						      <td><%= resource.website  %></td>
						      <td><%= resource.phone  %></td>
						      <td><%= resource.proof_required  %></td>
						    </tr>
						    <% end %>

						  </tbody>
						  <% end %>
						</table>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a href="#materials" data-toggle="collapse" data-parent ="accordion"><%= image_tag "foodwater.png", class: "displayed" %></a>
					</h4>
				</div>
				<div id="materials" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-inverse">
						  <thead>
						    <tr>
						      <th>Name</th>
						      <th>Location</th>
						      <th>Lat</th>
						      <th>Lng</th>
						      <th>Website</th>
						      <th>Phone</th>
						      <th>Proof Required</th>
						    </tr>
						  </thead>
						  <% @resources.each do |resource| %>
						  <tbody>
						  	<% if resource.category == "food_and_water" %>
						    <tr>
						      <td><%= resource.name  %></td>
						      <td><%= resource.location  %></td>
						      <td><%= resource.lat  %></td>
						      <td><%= resource.lng  %></td>
						      <td><%= resource.website  %></td>
						      <td><%= resource.phone  %></td>
						      <td><%= resource.proof_required  %></td>
						    </tr>
						    <% end %>

						  </tbody>
						  <% end %>
						</table>
					</div>
				</div>


			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a href="#collect" data-toggle="collapse" data-parent ="accordion"><%= image_tag "med.png", class: "displayed" %></a>
					</h4>
				</div>
				<div id="collect" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-inverse">
						  <thead>
						    <tr>
						      <th>Name</th>
						      <th>Location</th>
						      <th>Lat</th>
						      <th>Lng</th>
						      <th>Website</th>
						      <th>Phone</th>
						      <th>Proof Required</th>
						    </tr>
						  </thead>
						  <% @resources.each do |resource| %>
						  <tbody>
						  	<% if resource.category == "medical" %>
						    <tr>
						      <td><%= resource.name  %></td>
						      <td><%= resource.location  %></td>
						      <td><%= resource.lat  %></td>
						      <td><%= resource.lng  %></td>
						      <td><%= resource.website  %></td>
						      <td><%= resource.phone  %></td>
						      <td><%= resource.proof_required  %></td>
						    </tr>
						    <% end %>

						  </tbody>
						  <% end %>
						</table>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a href="#grow" data-toggle="collapse" data-parent ="accordion"><%= image_tag "bus.png", class: "displayed" %></a>
					</h4>
				</div>
				<div id="grow" class="panel-collapse collapse">

					<div class="panel-body">
						<% @resources.each do |resource| %>
						<ul>
							<% if resource.category == "medical" %>
							<li>	<%= resource.name %> | <%= resource.location  %></li>
							<% end %>
						</ul>
						<% end %>
					</div>
				</div>
			</div>

		</div>
	</div>

<script type="text/javascript">
$('.map_trigger').click(function(){
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
	  markers = handler.addMarkers([
	    {
	      "lat": 0,
	      "lng": 0,
	      "picture": {
	        "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
	        "width":  36,
	        "height": 36
	      },
	      "infowindow": "hello!"
	    }
	  ]);
	  handler.bounds.extendWith(markers);
	  handler.fitMapToBounds();
	});
})

</script>

</body>



</html>
