<!DOCTYPE html>

<html>
<head>
	<meta charset='utf-8'/>
	<title>Refugees in Lesbos</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<!--mobile-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script>
	<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
</head>

<body>



<div class="container">

		<div class="panel-group" id="accordion">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a href="#started" id="map_trigger" data-toggle="collapse" data-parent ="accordion"><%= image_tag "house.png", class: "displayed" %></a>
					</h4>
				</div>
				<div id="started" class="panel-collapse collapse">
					<div style='width: 800px;'>
					  <div id="map" style='width: 800px; height: 400px;'></div>
					</div>
					<div class="panel-body">
						<% @resources.each do |resource| %>
						<ul>
							<% if resource.category == "Shelter" %>
							<li>	<%= resource.name %> | <%= resource.location  %></li>
							<% end %>
						</ul>
						<% end %>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a href="#materials" data-toggle="collapse" data-parent ="accordion"><%= image_tag "foodwater.png", class: "displayed" %></a>
					</h4>
				</div>
				<div id="materials" class="panel-collapse collapse">
					<div class="panel-body">
						<% @resources.each do |resource| %>
						<ul>
							<% if resource.category == "food_and_water" %>
							<li>	<%= resource.name %> | <%= resource.location  %></li>
							<% end %>
						</ul>
						<% end %>
					</div>
				</div>


			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a href="#collect" data-toggle="collapse" data-parent ="accordion"><%= image_tag "med.png", class: "displayed" %></a>
					</h4>
				</div>
				<div id="collect" class="panel-collapse collapse">
					<div class="panel-body">
						<% @resources.each do |resource| %>
						<ul>
							<% if resource.category == "medical" %>
							<li>	<%= resource.name %> | <%= resource.location  %></li>
							<% end %>
						</ul>
						<% end %>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a href="#grow" data-toggle="collapse" data-parent ="accordion"><%= image_tag "bus.png", class: "displayed" %></a>
					</h4>
				</div>
				<div id="grow" class="panel-collapse collapse">

					<div class="panel-body">
						<% @resources.each do |resource| %>
						<ul>
							<% if resource.category == "medical" %>
							<li>	<%= resource.name %> | <%= resource.location  %></li>
							<% end %>
						</ul>
						<% end %>
					</div>
				</div>
			</div>

		</div>
	</div>

// 	<script>
//  	$(document).ready(function(){
//    	$("#map_trigger").click(function(){
//    	<% @resources.each do |resource| %>
//  	  	var infocontent = "<p><strong>Location: </strong>" + <%= resource.location %> +"</p> " + "<p><strong>Name: </strong>" + <%= resource.name %> +
//  	                         "</p> <p><strong>Hours: </strong>" + <%= resource.hours %> + "</p> <p><strong>Phone: </strong>" + <%= resource.phone %> + "</p>";
//  	    var infowindow = new google.maps.infowindow({
//  	        content: infocontent
//  	    });

//  	    handler = Gmaps.build('Google');
//  	      handler.buildMap({provider: {}, internal: {id: 'map'}}, function(){
//  	        markers = handler.addMarkers([
//  	          {
//  	            "lat": <%= resource.lat %>,
//  	            "lng": <%= resource.lng %>,
//  	            "picture": {
//  	              "url": "http://maps.google.com/mapfiles/ms/icons/blue-dot.png",
//  	              "width":  32,
//  	              "height": 32
//  	            },
//  	            "content": infocontent
//  	          }
//  	        ]);
//  	        google.maps.event.addListener(markers, 'click', function() {
//  	            infowindow.close();
//  	            infowindow.open(map, markers);
//  	        });
//  	        google.maps.event.addListener(markers, 'dblclick', function() {
//  	            infowindow.close();
//  	        });
//  	        handler.bounds.extendWith(markers);
//  	        handler.getMap().setZoom(10);
//  	        handler.map.centerOn(markers[0]);
//  	      });
//        <% end %>
//    })

//  })
// </script>

</body>



</html>
